@import '_normalize.styl'
@import '_typography.styl'


body
  background offwhite
  font-size:62.5%
  

.example-enter 
  font-size: 12px
  transition: font-size 1s ease-out


.example-enter.example-enter-active 
    font-size: 1em


.example-leave 
  opacity: 1
  transition: opacity .5s ease-in


.example-leave.example-leave-active 
  opacity: 0.01


.example-appear 
  opacity: 0.01
  transition: opacity 5s ease-in


.example-appear.example-appear-active 
  opacity: 1
  
.background-enter 
  transform: translate(100%)

.background-enter.background-enter-active 
  transform: translate(0%)
  transition: transform 1000ms ease-in-out

.background-leave 
  transform: translate(0%)

.background-leave.background-leave-active 
  transform: translate(-100%)
  transition: transform 1000ms ease-in-out

